{{#if products}}
<div class="card shopping-cart">
    <div class="card-header bg-dark text-light ">
        Chi tiết giỏ hàng
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <!-- PRODUCT -->
        {{#each products}}
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 text-center">
                <img class="img-responsive" src="../../static/images/products/{{this.item.imagePath}}" alt="prewiew"
                    width="100" height="100">
            </div>
            <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                <h4 class="product-name"><strong>{{this.item.name}}</strong></h4>
                <h4>
                    <small>{{this.item.description}}</small>
                </h4>
            </div>
            <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                    <h6>$<strong>{{this.item.price}}</strong></h6>
                </div>
                <div class="col-4 col-sm-4 col-md-4">
                    <div class="quantity">
                        <a type="button" class="plus" href="/reduce/{{this.item._id}}">-</a>
                        <input type="number" step="1" max="99" min="1" value="{{this.qty}}" title="Qty" class="qty"
                            size="4">
                        <a type="button" class="minus" href="/add/{{this.item._id}}">+</a>
                    </div>
                </div>
                <div class="col-2 col-sm-2 col-md-2 text-right">
                    <a type="button" class="btn btn-dark btn-xs" href="/remove/{{this.item._id}}">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        {{/each}}
        <!-- END PRODUCT -->
        <div class="pull-right price">
            <div class="pull-right">
                Tổng tiền : $<b>{{totalPrice}}</b>
            </div>
            <div class="ship">Miễn phí ship trên toàn quốc</div>
        </div>
    </div>
    <div class="card-footer">
        <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
            <div class="row">

            </div>
        </div>
        <div class="pull-right" style="margin: 10px">
            <div class="col-sm-6 col-md-offset-3 col-sm-offset-3">
                <a type="button" href="/checkout" class="btn btn-dark">Thanh toán</a>
            </div>

        </div>
    </div>
</div>
{{else}}
<div class="row">
    <div class="col-sm-6 col-md-6 mx-auto">
        <h4 class="no-item-notice"><strong>Không có sản phẩm nào trong giỏ hàng</strong></h4>

    </div>
</div>
<div class="row">
    <img src="../../static/images/no-item.png" alt="no-item image" class="mx-auto no-item-image">
</div>
{{/if}}